{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "commonjs": {
      "presets": [
        "@babel/preset-env"
      ]
    },
    "es": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    }
  }
}
